@using Microsoft.AspNetCore.Identity
@using MSL_APP.Data
@using MSL_APP.Utility

@model PaginatedList<MSL_APP.Data.ApplicationUser>

@{
    ViewData["Title"] = "Account";
}

@if ((string)@ViewData["AccRole"] == "Student")
{
    <h1>Student Account</h1>
    <div class="row">
        <div class="col-md">
            <a class="btn btn-outline-primary" asp-action="Index" asp-route-roleType="Admin">Display Admin Account</a>
        </div>
        <div class="col-md">
            <form asp-action="Index">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="search" placeholder="All Columns" aria-label="Search User">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-primary" id="searchUserButton">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
else if ((string)@ViewData["AccRole"] == "Admin")
{
    <h1>Admin Account</h1>
    <div class="row">
        <div class="col-md">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a class="btn btn-outline-primary" asp-action="Index" asp-route-roleType="Student">Display Student Account</a>
                <a class="btn btn-outline-primary" asp-action="Create">Create</a>
            </div>
        </div>
        <div class="col-md">
            <form asp-action="Index">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="search" placeholder="All Columns" aria-label="Search User">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-outline-primary" id="searchUserButton">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
<div asp-validation-summary="All" class="text-danger"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.StudentId)*@
                <a asp-action="Index" asp-route-sortBy="@ViewData["AccId"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageRow="@ViewData["totalRow"]" asp-route-roleType="@ViewData["AccRole"]">ID</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortBy="@ViewData["AccFirstName"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageRow="@ViewData["totalRow"]" asp-route-roleType="@ViewData["AccRole"]">First Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortBy="@ViewData["AccLastName"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageRow="@ViewData["totalRow"]" asp-route-roleType="@ViewData["AccRole"]">Last Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortBy="@ViewData["AccEmail"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageRow="@ViewData["totalRow"]" asp-route-roleType="@ViewData["AccRole"]">Email</a>
            </th>
            @if ((string)@ViewData["AccRole"] == "Student")
            {
            <th>
                <a asp-action="Index" asp-route-sortBy="@ViewData["AccStatus"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageRow="@ViewData["totalRow"]" asp-route-roleType="@ViewData["AccRole"]">Status</a>
            </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                @if ((string)@ViewData["AccRole"] == "Student")
                {
                <td>
                    @Html.DisplayFor(modelItem => user.ActiveStatus)
                </td>
                }
                <td>
                    @if ((string)@ViewData["AccRole"] == "Student")
                    {
                        if (user.ActiveStatus == "Actived")
                        {
                            <a class="btn btn-outline-warning btn-sm" asp-action="Ban" asp-route-id="@user.Id">Ban</a>
                        }

                        if (user.ActiveStatus == "Disabled")
                        {
                            <a class="btn btn-outline-success btn-sm" asp-action="Ban" asp-route-id="@user.Id">Unban</a>
                        }
                    }

                    <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@user.Id" onclick="return confirm('Are you sure you want to delete user: @user.Email')">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "invisible" : "";
    var nextDisabled = !Model.HasNextPage ? "invisible" : "";
    var indexDisabled = !Model.HasPreviousPage && !Model.HasNextPage ? "d-none" : "";
    var sizeDisabled = Model.TotalRows <= 10 ? "invisible" : "";
    var totalPages = Model.TotalPages;
    var centerIndex = Model.PageIndex;
    var maxPages = 10;
    if (totalPages < maxPages) { maxPages = totalPages; }
    if (centerIndex <= 5)
    {
        centerIndex = 1;
    }
    else if (centerIndex > 5 && centerIndex <= totalPages - 5)
    {
        centerIndex = centerIndex - 5;
    }
    else
    {
        centerIndex = totalPages - 9;
    }
}
<div class="row ">
    <div class="dropdown mx-1 @sizeDisabled">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Page Size
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a asp-action="Index" asp-route-sortBy="@ViewData["CurrentSort"]" asp-route-pageNumber=1 asp-route-pageRow=10 asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-roleType="@ViewData["AccRole"]" class="dropdown-item">10 Rows</a>
            <a asp-action="Index" asp-route-sortBy="@ViewData["CurrentSort"]" asp-route-pageNumber=1 asp-route-pageRow=20 asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-roleType="@ViewData["AccRole"]" class="dropdown-item">20 Rows</a>
            <a asp-action="Index" asp-route-sortBy="@ViewData["CurrentSort"]" asp-route-pageNumber=1 asp-route-pageRow=50 asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-roleType="@ViewData["AccRole"]" class="dropdown-item">50 Rows</a>
            <a asp-action="Index" asp-route-sortBy="@ViewData["CurrentSort"]" asp-route-pageNumber=1 asp-route-pageRow=-1 asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-roleType="@ViewData["AccRole"]" class="dropdown-item">All</a>
        </div>
    </div>
    <a asp-action="Index"
       asp-route-sortBy="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-pageRow="@ViewData["totalRow"]"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       asp-route-roleType="@ViewData["AccRole"]"
       class="mx-1 btn btn-primary @prevDisabled">
        Previous
    </a>
    @for (int i = centerIndex; i < centerIndex + maxPages; i++)
    {
        if (i == Model.PageIndex)
        {
            <a asp-action="Index"
               asp-route-sortBy="@ViewData["CurrentSort"]"
               asp-route-pageNumber=@i
               asp-route-pageRow="@ViewData["totalRow"]"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-roleType="@ViewData["AccRole"]"
               class="mx-1 btn btn-primary @indexDisabled">
                @i
            </a>
        }
        else
        {
            <a asp-action="Index"
               asp-route-sortBy="@ViewData["CurrentSort"]"
               asp-route-pageNumber=@i
               asp-route-pageRow="@ViewData["totalRow"]"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               asp-route-roleType="@ViewData["AccRole"]"
               class="mx-1 btn btn-outline-primary @indexDisabled">
                @i
            </a>
        }
    }
    <a asp-action="Index"
       asp-route-sortBy="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-pageRow="@ViewData["totalRow"]"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       asp-route-roleType="@ViewData["AccRole"]"
       class="mx-1 btn btn-primary @nextDisabled">
        Next
    </a>
</div>