@using Microsoft.AspNetCore.Identity
@using MSL_APP.Data
@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Registered Accounts";
}

<h1>Registered Account</h1>

<div class="row">
    <div class="col-md">
        <a class="btn btn-outline-primary" asp-action="Create">Create Admin Account</a>
    </div>
    <div class="col-md">
        <form asp-action="Index">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="search" placeholder="All Columns" aria-label="Search User">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-primary" id="searchUserButton">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div asp-validation-summary="All" class="text-danger"></div>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.StudentId)*@
                @Html.ActionLink("ID", "Index", new { sortBy = ViewBag.SortByAccId })
            </th>
            <th>
                @Html.ActionLink("First Name", "Index", new { sortBy = ViewBag.SortByAccFirstName })
            </th>
            <th>
                @Html.ActionLink("Last Name", "Index", new { sortBy = ViewBag.SortByAccLastName })
            </th>
            <th>
                @Html.ActionLink("Email", "Index", new { sortBy = ViewBag.SortByAccEmail })
            </th>
            <th>
                @Html.ActionLink("Status", "Index", new { sortBy = ViewBag.SortByAccStatus })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.ActiveStatus)
                </td>
                <td>
                    @if (user.ActiveStatus == "Actived")
                    {
                        <a class="btn btn-outline-warning btn-sm" asp-action="Ban" asp-route-id="@user.Id">Ban</a>
                    }

                    @if (user.ActiveStatus == "Disabled")
                    {
                        <a class="btn btn-outline-success btn-sm" asp-action="Ban" asp-route-id="@user.Id">Unban</a>
                    }
                    <a class="btn btn-outline-danger btn-sm" asp-action="Delete" asp-route-id="@user.Id" onclick="return confirm('Are you sure you want to delete user: @user.Email')">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
