@model MSL_APP.Models.ProductName

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductName</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeyCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeyCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
