@*@model IEnumerable<MSL_APP.Models.Product>*@
@using MSL_APP.Utility
@model PaginatedList<MSL_APP.Models.Product>
@{
    ViewData["Title"] = "Product";
}

@if (TempData["InvalidList"] != null)
{
    <partial name="_InvalidEntries" />
}

<style>
    .dropdown-menu {
        padding: 2px;
    }
</style>

<h1>Product</h1>

<div class="row">
    <div class="col-md">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a type="button" class="btn btn-outline-primary" asp-action="Create">Create</a>
            <div class="btn-group" role="group">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Upload Product Names
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form asp-controller="Product" asp-action="UploadFile" method="post"
                          enctype="multipart/form-data">
                        <input class="btn btn-outline-secondary btm-sm" type="file" name="file" />
                        <button class="btn btn-success btm-sm" type="submit">Upload</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md">
        <form asp-action="Index">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="search" placeholder="Product Name" aria-label="Search User">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-primary" id="searchUserButton">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                <a asp-action="Index" asp-route-sortBy="@ViewData["Product"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageRow="@ViewData["totalRow"]">Product</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortBy="@ViewData["TotalKeys"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageRow="@ViewData["totalRow"]">Key Count</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortBy="@ViewData["Limit"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageRow="@ViewData["totalRow"]">Quantity Limit</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortBy="@ViewData["Status"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageRow="@ViewData["totalRow"]">Status</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortBy="@ViewData["Link"]" asp-route-currentFilter="@ViewData["CurrentFilter"]" asp-route-pageRow="@ViewData["totalRow"]">Download Link</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KeyCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiveStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DownloadLink)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "invisible" : "";
    var nextDisabled = !Model.HasNextPage ? "invisible" : "";
    var indexDisabled = !Model.HasPreviousPage && !Model.HasNextPage ? "d-none" : "";
    var sizeDisabled = Model.TotalRows <= 10 ? "invisible" : "";
    var totalPages = Model.TotalPages;
    var centerIndex = Model.PageIndex;
    var maxPages = 10;
    if (totalPages < maxPages) { maxPages = totalPages; }
    if (centerIndex <= 5)
    {
        centerIndex = 1;
    }
    else if (centerIndex > 5 && centerIndex <= totalPages - 5)
    {
        centerIndex = centerIndex - 5;
    }
    else
    {
        centerIndex = totalPages - 9;
    }
}
<div class="row ">
    <div class="dropdown mx-1 @sizeDisabled">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Page Size
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a asp-action="Index" asp-route-sortBy="@ViewData["CurrentSort"]" asp-route-pageNumber=1 asp-route-pageRow=10 asp-route-currentFilter="@ViewData["CurrentFilter"]" class="dropdown-item">10 Rows</a>
            <a asp-action="Index" asp-route-sortBy="@ViewData["CurrentSort"]" asp-route-pageNumber=1 asp-route-pageRow=20 asp-route-currentFilter="@ViewData["CurrentFilter"]" class="dropdown-item">20 Rows</a>
            <a asp-action="Index" asp-route-sortBy="@ViewData["CurrentSort"]" asp-route-pageNumber=1 asp-route-pageRow=50 asp-route-currentFilter="@ViewData["CurrentFilter"]" class="dropdown-item">50 Rows</a>
            <a asp-action="Index" asp-route-sortBy="@ViewData["CurrentSort"]" asp-route-pageNumber=1 asp-route-pageRow=-1 asp-route-currentFilter="@ViewData["CurrentFilter"]" class="dropdown-item">All</a>
        </div>
    </div>
    <a asp-action="Index"
       asp-route-sortBy="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-pageRow="@ViewData["totalRow"]"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="mx-1 btn btn-primary @prevDisabled">
        Previous
    </a>
    @for (int i = centerIndex; i < centerIndex + maxPages; i++)
    {
        if (i == Model.PageIndex)
        {
            <a asp-action="Index"
               asp-route-sortBy="@ViewData["CurrentSort"]"
               asp-route-pageNumber=@i
               asp-route-pageRow="@ViewData["totalRow"]"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="mx-1 btn btn-primary @indexDisabled">
                @i
            </a>
        }
        else
        {
            <a asp-action="Index"
               asp-route-sortBy="@ViewData["CurrentSort"]"
               asp-route-pageNumber=@i
               asp-route-pageRow="@ViewData["totalRow"]"
               asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="mx-1 btn btn-outline-primary @indexDisabled">
                @i
            </a>
        }
    }
    <a asp-action="Index"
       asp-route-sortBy="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-pageRow="@ViewData["totalRow"]"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="mx-1 btn btn-primary @nextDisabled">
        Next
    </a>
</div>