@*@model IEnumerable<MSL_APP.Models.ProductKey>*@
@using MSL_APP.Utility
@model PaginatedList<MSL_APP.Models.ProductKey>
@{
    ViewData["Title"] = "Product Key";
}

<h1>Product Key</h1>

<div class="row">
    <div class="col-md">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <a type="button" class="btn btn-outline-primary" asp-action="Create">Create</a>
            <div class="btn-group" role="group">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Upload Product Keys
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form asp-controller="ProductKey" asp-action="UploadFile" method="post"
                          enctype="multipart/form-data">
                        <input class="btn btn-outline-secondary btm-sm" type="file" name="file" />
                        <button class="btn btn-success btm-sm" type="submit">Upload</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md">
        <form asp-action="Index">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="search" placeholder="Product Name" aria-label="Search User">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-outline-primary" id="searchUserButton">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ProductName)*@
                <a asp-action="Index" asp-route-sortBy="@ViewData["KeyName"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Product</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortBy="@ViewData["KeyCode"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Key</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortBy="@ViewData["KeyStatus"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Status</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortBy="@ViewData["Onwer"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Owner ID</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerId)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "d-none" : "";
    var nextDisabled = !Model.HasNextPage ? "d-none" : "";
}
<a asp-action="Index"
   asp-route-sortBy="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortBy="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">
    Next
</a>